<!DOCTYPE html>
<!--
 - File              : custom.html
 - Author            : Chi Han
 - Email             : haanchi@gmail.com
 - Date              : 20.12.2019
 - Last Modified Date: 20.12.2019
 - Last Modified By  : Chi Han
 -
 - Welcome to this little kennel of Glaciohound!


-->
<!-- start custom footer snippets -->
<!--
<a href="/sitemap/">Sitemap</a>
-->
<a href="https://clustrmaps.com/site/1b1j1"  title="Visit tracker"><img width="36px" height="24px" src="//www.clustrmaps.com/map_v2.png?d=zZC7c2GfDoWwdVh7ZM72z2QBl7_yFfxyfm67IJ9sUeE&co=ffffff&ct=878787" /></a>
<!-- end custom footer snippets -->
